{% extends 'base.html' %} 

{% block title %} Home - Flask App {% endblock %} 
{% block content %}
<h2>
    Royal Enfield is a motorcycle company that manufactures classic and off-road motorcycles.
     Here are some things to know about Royal Enfield: 
</h2>
<h3>History</h3>
The first Royal Enfield motorcycle was built in 1901 by The Enfield Cycle Company in Redditch, England. 
The company's motto is "Made Like a Gun", which describes their motorcycles as simple, resilient,
 and dependable. 
<h3>Production</h3>
Royal Enfield is the oldest global motorcycle brand in continuous production. The Royal Enfield Bullet is the longest-lived motorcycle design in history, having remained in production since 1932. 
<h3>Products</h3>
Royal Enfield makes a variety of motorcycles, including the Bullet, Classic 350, 
Thunderbird, Meteor 350, Classic 500, Interceptor 650, Continental, and Hunter 350. 
<h3>Military use</h3>
During World War II, Royal Enfield produced large quantities of military motorcycles,
 bicycles, generators, and ant-aircraft gun predictors. The 125cc "Airborne" motorcycle,
  also known as the Flying Flea, was a popular model. 
<h3>Ownership</h3>
In 1994, Eicher Motors, an Indian multinational automobile manufacturing company, 
took over ownership of Royal Enfield. The company is now headquartered in Chennai, India. 
</p>
{% endblock %}

