{% extends 'base.html' %} 

{% block title %} Services - Flask App {% endblock %} 
{% block content %}
<div class="home">
    <h2>Royal Enfield offers a comprehensive range of services to ensure your motorcycle remains 
        in optimal condition. Here's an overview of the services available:</h2>

<h3>1. Service Booking</h3>

You can conveniently schedule a service appointment online through Royal Enfield's official website. This platform allows you to select your preferred service center, choose the type of service required, and pick a suitable date and time. 
ROYAL ENFIELD

<h3>2. Types of Services</h3>

Free Service: New Royal Enfield motorcycles are entitled to four free services within the first 12,000 kilometers or 12 months, whichever comes first. 
ROYAL ENFIELD

Paid Service: After the free service period, regular maintenance is available as paid services to keep your motorcycle running smoothly.

Scheduled Maintenance: Regular check-ups and maintenance tasks are performed to ensure the longevity and performance of your motorcycle.

Running Repairs: Addressing any immediate issues or repairs needed to keep your motorcycle in safe operating condition.

<h3>3. Service Kit</h3>

A service kit typically includes essential components such as an oil filter, air filter, rubber gaskets, and sealant glue. These kits are used during maintenance to replace worn-out parts and ensure optimal performance. 

</div>


{% endblock %}

